<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ex Member</title>
</head>
<body>
    <h1>Member 호출</h1>
    <div sec:authorize="hasRole('USER')">Has USER ROLE</div>
    <div sec:authorize="hasRole('MANAGER')">Has MANAGER ROLE</div>
    <div sec:authorize="hasRole('ADMIN')">Has ADMIN ROLE</div>

    <div sec:authorize="isAuthenticated()">
        Only Authenticated user can see this text!
    </div>

    Authenticated Username: <div sec:authentication="name"></div>
    Authenticated Role Set: <div sec:authentication="principal.authorities"></div>
</body>
</html>